* {
    padding: 0px;
    margin: 0px;
}

#header1 {
    background-color: #F7F7F7;
}
/* 첫번째 div tag에 class="navbar" 추가*/
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;

}
/* 추가 */
.navbar span :hover{
    background-color: #ddd;
}

#header1_munu {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    background-color: #F7F7F7;
    text-align: right;
}

#header1 span {
    width: 10px;
    margin: 10px;
    cursor: pointer;
    color: #777777;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10;
}

#header2 {
    display: flex;
    width: 1200px;
    height: 60px;
    margin: auto;
    background-color: white;
    font-size: 20;
    color: black;
    text-align: center; 
    font-family: 'Noto Sans KR', sans-serif;
}

#title {
    display: flex;
    margin: auto;
    margin-left: 0px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

#header2_menu {
    display: flex;
    margin-right: 0px;
    width: 900px;
    line-height: 40px;
}

#header2_menu > span {
    display: flex;
    margin: auto;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
}

#header3 {
    display: flex;
    width: 1200px;
    height: 120px;
    line-height: 60px;
    margin: auto;
    text-align: center;
    background-color: #FFFFFF;
}

#search {
    height: 40px;
    line-height: 40px;
    width: 400px;
    margin: auto;
    padding: 0px;
    border: 3px solid #F7F7F7;
}

#search input {
    font-size: 16px;
    width: 330px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

#search img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 8px;
    border: 0px
    outline: none;
    float: right;
    cursor: pointer;
}

#body {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
}

#bodyimage {
    width: 1200px;
    height: 400px;
}

#footer {
    height: 150px;
    background-color: #F7F7F7;
}
#innerfooter {
    margin: auto;
    width: 1200px;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
}

