* {
    padding: 0px;
    margin: 0px;
}

#header1 {
    background-color: #F7F7F7;
}

/* 각 페이지에서 header1_menu 로 이름 수정해야 함 */
#header1_munu {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    background-color: #F7F7F7;
    text-align: right;
    cursor: pointer;
}

#header1 span {
    width: 10px;
    margin: 10px;
    cursor: pointer;
    color: #777777;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10;
}

#header2 {
    display: flex;
    width: 1200px;
    height: 60px;
    margin: auto;
    background-color: white;
    font-size: 20;
    color: black;
    text-align: center; 
    font-family: 'Noto Sans KR', sans-serif;
}

#title {
    display: flex;
    margin: auto;
    margin-left: 0px;
    width: 300px;
    height: 40px;
    line-height: 40px;
}

#header2_menu {
    display: flex;
    margin-right: 0px;
    width: 900px;
    line-height: 40px;
}

#header2_menu > span {
    display: flex;
    margin: auto;
    cursor: pointer;
    line-height: 40px;
    font-weight: bold;
}
 
/* 여기부터 수정 */
#header3 {
            display: flex;
            width: 1200px;
            height: 120px;
            line-height: 60px;
            margin: auto;
            text-align: center;
            background-color: #FFFFFF;
        }

        #search {
            position: relative;
            height: 40px;
            line-height: 40px;
            width: 400px;
            margin: auto;
            border: 3px solid #F7F7F7;
        }

        #search input {
            font-size: 16px;
            width: 325px;
            padding: 10px;
            border: 0px;
            outline: none;
            float: left;
        }

        #search img {
            position absolute;
            width: 20px;
            height: 20px;
            margin: auto;
            padding: 10px;
            border: 0px
            outline: none;
            float: right;
            cursor: pointer;
        }
/* 여기까지 수정 */

#bodyimage {
    width: 1200px;
    height: 400px;
}

#footer {
    height: 150px;
    background-color: #F7F7F7;
}
#innerfooter {
    margin: auto;
    width: 1200px;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
}

