<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 공개강좌 분석 포털</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR:wght@300;400&display=swap" rel="stylesheet">

    <style>
    .main_con { width: 100%; height: 100%; text-align: center; display: block; }
    .main_con>ul { display: inline-block; width: 100%; }
    .main_con>ul.site>li { width: 33.33%; }
    .main_con>ul>li { position: relative; display: table-cell; }
    .main_con>ul>.kmooc>li>a { position: relative; display: block; padding: 50px 0 30px 100px; height: 400px overflow: hidden; }
    .main_con>ul>.kocw>li>a { position: relative; display: block; padding: 50px 0 30px 30px; height: 400px overflow: hidden; }
    .main_con>ul>.edwith>li>a { position: relative; display: block; padding: 50px 30px 30px 30px; height: 400px overflow: hidden; }
    a { text-decoration: none; color: black; }
    .kmooc { float: left; width: auto; solid; }
    .kocw { float: left; margin-left; width: auto; solid; }
    .edwith { float: left; margin-left; width: auto; solid; }

    </style>


</head>
<body>
    <div>
        <div id="header1">
            <p id="header1_munu">
                <span>로그인</span>
                <span onclick="location.href='/register/'">회원가입</span>
            </p>
            

        </div>
        <div id="header2">
            <span id="title">

                <a href="http://127.0.0.1:8000/" class="logo">
                    <h2>CS 공개강좌 분석 포털
                    </h2>
                </a>

            </span> 
            <span id="header2_menu">
                <span onclick="location.href='/kmooc/'">CS in K-MOOC</span>
                <span onclick="location.href='/kocw/'">CS in KOCW</span>
                <span onclick="location.href='/edwith/'">CS in edwith</span>
                <span>커뮤니티 게시판</span>
            </span>
              
        </div>
        <div id="header3">
            <div id="search">
                <form action="/search/" method="post"> {% csrf_token %}
                    <input type="search" placeholder="강좌 검색 키워드 입력" name="q">
                    <button type="submit"><img src="{% static 'image/ic_search.png' %}" alt="검색이미지"></button>
                </form>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="main_con">
            <ul class="site">
                <div class="kmooc">
	                <li>
		                <a href="http://www.kmooc.kr/">
                            <div style="text-align:center">
				            <img src="{% static 'image/kmooc.png' %}" width="400" height="200">
		 		            <br>
                                <p class="comt" style="font-size: 18px; color: black; font-family: 'IBM Plex Sans KR'";>
                                    <br>
                            	    K-MOOC에서는 프로그래밍 언어, 컴퓨터 구조 등
                            	    <br>
                            	    국내 대학 컴퓨터 공학 관련 과정을
                            	    <br>
                            	    학습하실 수 있습니다.
                                </p>
                    	    </div>
                        </a>
	                </li>
                </div>

                <div class="kocw">
                    <li>
                        <a href="http://www.kocw.net/home/index.do">
                            <div style="text-align:center">
                                <img src="{% static 'image/kocw.png' %}" width="400" height="200">
                                <br>
                                <p class="comt" style="font-size: 18px; color: black; font-family: 'IBM Plex Sans KR'";>
                                    <br>
                                KOCW는 프로그래밍 언어, 컴퓨터 구조 등
                                <br>
                                국내 대학 컴퓨터 공학 관련 과정을
                                <br>
                                온라인 학습 컨텐츠로 제공합니다.
                                <br>
                                </p>
                            </div>
                        </a>
                    </li>
                </div>

                <div class="edwith">
                    <li>
                        <a href="https://www.edwith.org/">
                            <div style="text-align:center">
                                <img src="{% static 'image/edwith.png' %}" width="400" height="200">
                                <br>
                                    <p class="comt" style="font-size: 18px; color: black; font-family: 'IBM Plex Sans KR'";>
                                        <br>
                                        edwith에는 네이버 커넥츠 재단이 제공하는
                                        <br>
                                        SW개발, 프로그래밍 언어 등의 강좌를
                                        <br>
                                        학습하실 수 있는 온라인 강좌 교육 플랫폼 입니다.
                                        <br>
                                    </p>
                                </div>
                            </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>

        <div>
            <ul class="course_list">
                {% for MoocAll in MoocAllList%}
                <li>
                    <a href="http://www.kmooc.kr/courses/{{ MoocAll.course_id }}/about" target="_blank">
                    {{ MoocAll.name }} / {{ MoocAll.teachers }} / {{ MoocAll.org_name }} / 별점 : {{ MoocAll.star }}
                    </a>
                </li>
                 {% endfor %}
            </ul>
        </div>

    <div id="footer" style="display: block;">
        <p id="innerfooter">
            <br>
            <b>About Us</b><br>
            멀티캠퍼스 데이터 사이언스/엔지니어링 전문가 과정 15회차 8조(데이터잘팔조)입니다.<br>
            공공 데이터 분석 및 시각화 프로젝트로서 본 웹사이트를 제작하였습니다.<br>
            <br>
            COPYRIGHT BY SELLING DATA WELL CO., LTD ALL RIGHTS RESERVED.<br>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />이 저작물은 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">크리에이티브 커먼즈 저작자표시 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
            <br>
        </p>
    </div>

</body>
</html>