<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 공개강좌 분석 포털</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/css01.css' %}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">


    <style>
        .main_kmooc { float: left; width: auto; solid; }
        .main_kocw { float: left; margin-left; width: auto; solid; }
        .main_edwith { float: left; margin-left; width: auto; solid; }
        a { text-decoration: none; }
    </style>

</head>
<body>
    <div>
        <div id="header1">
            <p id="header1_munu">
                <span>로그인</span>
                <span onclick="location.href='/register/'">회원가입</span>
            </p>
            

        </div>
        <div id="header2">
            <span id="title">
                <h2>CS 공개강좌 분석 포털</h2>
            </span> 
            <span id="header2_menu">
                <span onclick="location.href='/kmooc/'">CS in K-MOOC</span>
                <span onclick="location.href='/kocw/'">CS in KOCW</span>
                <span onclick="location.href='/edwith/'">CS in edwith</span>
                <span>커뮤니티 게시판</span>
            </span>
              
        </div>
        <div id="header3">
            <span id="search">
                <form action="/search/" method="post"> {% csrf_token %}
                    <input type="search" placeholder="강좌 검색 키워드 입력" name="q">
                    <button type="submit"><img src="{% static 'image/ic_search.png' %}" alt="검색이미지"></button>
                </form>
            </span>
        </div>
    </div>

    <div id="body">
        <div class="main_kmooc" style="width:450px; margin-right:40px">
            <a href="http://www.kmooc.kr/" >
                <div style="text-align:center">
                    <img src="{% static 'image/kmooc.png' %}" width="450" height="200">
                    <br>
                    <p class="comt">
                        <br>
                        K-MOOC에서는 프로그래밍 언어, 컴퓨터 구조 등
                        <br>
                        국내 대학 컴퓨터 공학 관련 과정을
                        <br>
                        학습하실 수 있습니다.
                        <br>
                    </p>
                </div>
            </a>
        </div>

        <div class="main_kocw" style="width:450px; margin-right:40px">
            <a href="http://www.kocw.net/home/index.do">
                <div style="text-align:center">
                    <img src="{% static 'image/kocw.png' %}" width="450" height="200">
                    <br>
                    <p class="comt">
                        <br>
                        KOCW는 프로그래밍 언어, 컴퓨터 구조 등
                        <br>
                        국내 대학 컴퓨터 공학 관련 과정을
                        <br>
                        온라인 학습 컨텐츠로 제공합니다.
                        <br>
                    </p>
                </div>
            </a>
        </div>

        <div class="main_edwith" style="width:450px; margin-right:40px">
            <a href="https://www.edwith.org/">
                <div style="text-align:center">
                    <img src="{% static 'image/edwith.png' %}" width="450" height="200">
                    <br>
                    <p class="comt">
                        <br>
                        edwith에서는 네이버 커넥츠 재단이 제공하는
                        <br>
                        SW개발, 프로그래밍 언어 등의 강좌를
                        <br>
                        학습하실 수 있는 온라인 강좌 교육 플랫폼 입니다.
                        <br>
                    </p>
                </div>
            </a>
        </div>

    <div id="footer">
        <p id="innerfooter">
            <br>
            <b>About Us</b><br>
            멀티캠퍼스 데이터 사이언스/엔지니어링 전문가 과정 15회차 8조(데이터잘팔조)입니다.<br>
            공공 데이터 분석 및 시각화 프로젝트로서 본 웹사이트를 제작하였습니다.<br>
            <br>
            COPYRIGHT BY SELLING DATA WELL CO., LTD ALL RIGHTS RESERVED.<br>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />이 저작물은 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">크리에이티브 커먼즈 저작자표시 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
            <br>
        </p>
    </div>



</body>
</html>