<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DS 공개강좌 분석 포털</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR:wght@300;400&display=swap" rel="stylesheet">

    <style>
    .main_con>ul { display: inline-block; width: 100%; }

    .main_con>ul>.kmooc>li>a { text-align: center; display: block; padding: 50px 0 30px 100px; height: 400px overflow: hidden; }
    .main_con>ul>.kocw>li>a { txt-align: center; display: block; padding: 50px 0 30px 30px; height: 400px overflow: hidden; }
    .main_con>ul>.edwith>li>a { text-align: center; display: block; padding: 50px 30px 30px 30px; height: 400px overflow: hidden; }

    a { text-decoration: none; color: black; }
    .kmooc { float: left; width: auto; solid; }
    .kocw { float: left; margin-left; width: auto; solid; }
    .edwith { float: left; margin-left; width: auto; solid; }

    .pop { display: block; }
    .pop>.kmooc_pop { position: relative; padding: 100px 75px 50px 100px; overflow: hidden; }
    .pop>.kocw_pop { position: relative; padding: 100px 75px 50px 100px; overflow: hidden; }
    .pop>.edwith_pop { position: relative; padding: 100px 75px 50px 100px; overflow: hidden; }
    .pop>.kmooc_pop { float: left; width: auto; solid; }
    .pop>.kocw_pop { float: left; margin-left; width: auto; solid; }
    .pop>.edwith_pop { float: left; margin-left; width: auto; solid; }
    </style>


</head>
<body>
    <div>
        <div id="header1">
            <p id="header1_munu">
                <span>로그인</span>
                <span onclick="location.href='/register/'">회원가입</span>
            </p>
            

        </div>
        <div id="header2">
            <span id="title">

                <a href="http://127.0.0.1:8000/" class="logo">
                    <h2>DS 공개강좌 분석 포털
                    </h2>
                </a>

            </span> 
            <span id="header2_menu">
                <span onclick="location.href='/kmooc/'">K-MOOC</span>
                <span onclick="location.href='/kocw/'">KOCW</span>
                <span onclick="location.href='/edwith/'">edwith</span>
                <span>커뮤니티 게시판</span>
            </span>
              
        </div>
        <div id="header3">
            <div id="search">
                <form action="/search/" method="post"> {% csrf_token %}
                    <input type="search" placeholder="강좌 검색 키워드 입력" name="q">
                    <button type="submit"><img src="{% static 'image/ic_search.png' %}" alt="검색이미지"></button>
                </form>
            </div>
        </div>
    </div>

    <div id="body">
        <div class="main_con" style="display: inline-block">
            <ul class="site" style="list-style: none">
                <div class="kmooc">
	                <li>
		                <a href="http://www.kmooc.kr/">
                            <div style="text-align:center">
				            <img src="{% static 'image/kmooc.png' %}" width="400" height="200">
		 		            <br>
                                <p class="comt" style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR'";>
                                    <br>
                            	    K-MOOC는 국가평생교육진흥원에서 제공하는
                            	    <br>
                            	    공개강좌를 수강하며 수료증을 받을 수 있습니다.
                            	    <br>
                                    <strong>DS 공개강좌 분석 포털에서는 K-MOOC 강좌 중</strong>
                            	    <br>
                                    <strong>'4차산업혁명' 및 '인공지능' 관련 강좌만을 제공합니다.</strong>
                                </p>
                    	    </div>
                        </a>
                    </li>
                </div>

                <div class="kocw">
                    <li>
                        <a href="http://www.kocw.net/home/index.do">
                            <div style="text-align:center">
                                <img src="{% static 'image/kocw.png' %}" width="400" height="200">
                                <br>
                                <p class="comt" style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR'";>
                                    <br>
                            	    KOCW는 한국교육학술정보원에서 제공하는
                            	    <br>
                            	    대학 및 기관의 강좌를 청강할 수 있습니다.
                            	    <br>
                                    <strong>DS 공개강좌 분석 포털에서는 KOCW 강좌 중</strong>
                            	    <br>
                                    <strong>'컴퓨터공학 및 과학' 관련 강좌만을 제공합니다.</strong>
                                </p>
                            </div>
                        </a>
                    </li>
                </div>

                <div class="edwith">
                    <li>
                        <a href="https://www.edwith.org/">
                            <div style="text-align:center">
                                <img src="{% static 'image/edwith.png' %}" width="400" height="200">
                                <br>
                                    <p class="comt" style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR'";>
                                        <br>
                                        edwith는 네이버 커넥트 재단에서 제공하는
                                        <br>
                                        대학 및 기관, 해외 MOOC 번역 강좌를 수강할 수 있습니다.
                                        <br>
                                        <strong>DS 공개강좌 분석 포털에서는 edwith 강좌 중</strong>
                                        <br>
                                        <strong>'소프트웨어 개발' 강좌만을 제공합니다.</strong>
                                    </p>
                                </div>
                            </a>
                    </li>
                </div>
            </ul>
        </div>


        <span class="popular" style="font-size: 27px; color: black; font-family: 'IBM Plex Sans KR';">
            <br>

        </span>

        <div class="visual" style="display: block;">

            <span>
                <iframe src="{% static 'keyword_visual01.html'%}"
                width="900px"
                height="450px"
                frameborder=0>
                </iframe>
            </span>
        </div>

        <ul style="list-style: none">
            <div class="pop" style="display: inline-block; ">
               <div class="kmooc_pop">
                   <span class="popular" style="font-size: 27px; color: black; font-family: 'IBM Plex Sans KR'";>
                       <br>
                       ㅤ
                       <br>
                       ㅤ
                       <br>
                   </span>

                   <span class="popular02" style="font-size: 18px; color: black; font-family: 'IBM Plex Sans KR'";>
                       <b>K-MOOC</b>
                       <br>

                       <br>
                       <br>
                   </span>

                   <li>
                       <ul>
                            <a href="http://www.kmooc.kr/courses/{{ moocpop01.course_id }}/about">
                                <img src="{% static 'image/medal01.png' %}" width="40px" height="auto" >
                                <p style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR';" >
                                   <br>
                                    [TOP 1]
                                    <br>
                                   {{ moocpop01.name }}
                                    <br>
                                </p>ㅤ
                            </a>
                       </ul>
                   </li>

                   <li>
                       <ul>
                           <a href="http://www.kmooc.kr/courses/{{ moocpop02.course_id }}/about">
                               <img src="{% static 'image/medal02.png' %}" width="40px" height="auto" >
                               <p style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR'"; >
                                   <br>
                                   [TOP 2]
                                   <br>
                                   {{ moocpop02.name }}
                               </p>
                           </a>
                       </ul>
                    </li>
                   ㅤ
                   <li>
                       <ul>
                           <a href="http://www.kmooc.kr/courses/{{ moocpop03.course_id }}/about">
                               <img src="{% static 'image/medal03.png' %}" width="40px" height="auto" >
                               <p style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR'">
                                   <br>
                                   [TOP 3]
                                   <br>
                                   {{ moocpop03.name }}
                               </p>
                           </a>
                       </ul>
                   </li>

               </div>

                <div class="kocw_pop" style="display: block">
                   <span class="popular" style="font-size: 27px; color: black; font-family: 'IBM Plex Sans KR'; ";>
                       <b>인기 강좌</b>
                       <br>
                       ㅤ
                       <hr>
                       <br>
                   </span>

                    <span class="popular02" style="font-size: 18px; color: black; font-family: 'IBM Plex Sans KR'";>
                       <b>KOCW</b>
                       <br>

                       <br>
                        <br>
                   </span>

                   <li>
                       <ul>
                           <a href="{{ kocwpop01.course_url }}">
                               <img src="{% static 'image/medal01.png' %}" width="40px" height="auto">
                               <p style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR';" >
                                   <br>
                                   [TOP 1]
                                   <br>
                                   {{ kocwpop01.course_title }}
                                   <br>
                                   ㅤ
                               </p>
                           </a>
                       </ul>
                   </li>

                    <li>
                        <ul>
                           <a href="{{ kocwpop02.course_url }}">
                               <img src="{% static 'image/medal02.png' %}" width="40px" height="auto">
                               <p style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR';">
                                   <br>
                                   [TOP 2]
                                   <br>
                                   {{ kocwpop02.course_title }}
                                   <br>
                                   ㅤ
                               </p>
                           </a>
                        </ul>
                    </li>

                    <li>
                        <ul>
                           <a href="{{ kocwpop03.course_url }}">
                               <img src="{% static 'image/medal03.png' %}" width="40px" height="auto" >
                               <p style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR'; ">
                                   <br>
                                   [TOP 3]
                                   <br>
                                   {{ kocwpop03.course_title }}
                                   <br>
                                   ㅤ
                               </p>
                           </a>
                        </ul>
                    </li>
                </div>


                <div class="edwith_pop">
                   <span class="popular" style="font-size: 27px; color: black; font-family: 'IBM Plex Sans KR';">
                       <br>
                       ㅤ
                       <br>
                       ㅤ
                       <br>
                   </span>

                    <span class="popular02" style="font-size: 18px; color: black; font-family: 'IBM Plex Sans KR'";>
                       <b>edwith</b>
                       <br>

                       <br>
                        <br>
                   </span>

                   <li>
                       <ul>
                           <a href="{{ edwithpop01.href }}">
                               <img src="{% static 'image/medal01.png' %}" width="40px" height="auto" >
                               <p style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR'; ">
                                   <br>
                                   [TOP 1]
                                   <br>
                                   {{ edwithpop01.title }}
                                   <br>
                                   ㅤ
                               </p>
                           </a>
                       </ul>
                   </li>

                    <li>
                       <a href="{{ edwithpop02.href }}">
                           <img src="{% static 'image/medal02.png' %}" width="40px" height="auto" >
                           <p style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR'; ">
                               <br>
                               [TOP 2]
                               <br>
                               {{ edwithpop02.title }}
                               <br>
                               ㅤ
                           </p>
                       </a>
                    </li>

                    <li>
                       <a href="{{ edwithpop03.href }}">
                           <img src="{% static 'image/medal03.png' %}" width="40px" height="auto" >
                           <p style="font-size: 15px; color: black; font-family: 'IBM Plex Sans KR';">
                               <br>
                               [TOP 3]
                               <br>
                               {{ edwithpop03.title }}
                               <br>
                               ㅤ
                           </p>
                       </a>
                   </li>
               </div>
            </div>
        </ul>
    </div>


    <div id="footer" style="display: block; ">
        <p id="innerfooter">
            <br>
            <b>About Us</b><br>
            멀티캠퍼스 데이터 사이언스/엔지니어링 전문가 과정 15회차 8조(데이터잘팔조)입니다.<br>
            공공 데이터 분석 및 시각화 프로젝트로서 본 웹사이트를 제작하였습니다.<br>
            <br>
            COPYRIGHT BY SELLING DATA WELL CO., LTD ALL RIGHTS RESERVED.<br>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />이 저작물은 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">크리에이티브 커먼즈 저작자표시 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
            <br>
        </p>
    </div>

</body>
</html>